:root {
	--gap: 1em;
}

html, body, fieldset { padding: 0; margin: 0; border: 0; }

body {
	font-family: sans-serif;
	padding: var(--gap);
}

h1 {
	margin: 0;
}

button {
	padding: 1em;
}

nav.tabs {
	display: grid;
	column-gap: var(--gap);
	grid-template-columns: auto auto;
	margin-bottom: var(--gap);
}

fieldset {
	width: 100%;
	display: grid;
	column-gap: var(--gap);
	margin-bottom: var(--gap);

	&.file-selector {
		grid-template-columns: auto 6em;
		select {
			min-height: 6em;
		}
	}
	&.cut-from-to {
		grid-template-columns: auto auto;
	}
	&.submit {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas:
			"pb1 botan"
			"pb2 botan";
	}
}

label span {
	display: block;
}

input, textarea {
	width: 100%;
	box-sizing: border-box;
}

textarea.output {
	height: 20vh;
	font-size: 0.8em;
}

progress {
	width: 100%;
	height: 100%;
	align-self: center;

	&#file {
		grid-area: pb1;
	}
	&#job {
		grid-area: pb2;
	}
}
button#process {
	grid-area: botan;
}
